<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f| %>
        <h2 class="form-signin-heading" align="center">Вход</h2>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label "Пароль" %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me, class: "checkbox" %>
            <%= f.label "Запомнить меня" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Войти", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div> <!-- /container -->
